.footer{
    background-color: black;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 7px;
    font-family: 'Rajdhani', sans-serif;

    
    
}